<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flick Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFC041141C0E77F80043E8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC041281C0E77FA0043E8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC041331C0E77FA0043E8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
